/*Проценты поля width указанны для FullHD разрешения 1920*1080*/
*{
    margin: 0;
}
div#head{ /*Шапка сайта*/
    font-size: 20px;
    margin-left: 60px;
    background-color: #ffffff;
    height: 120px;
    line-height: 120px;
    color: #e3a68b;
}
.header{
    font-size: 15pt;
    z-index: 10;
    padding-left: 15px;
    background-color: #898d8e;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}
.header_scrolled{
    position: fixed;
    top: 0;
}
.header a{   /*Селекторы главного меню*/
    margin-left: 45px;
    height: 80px;
    line-height: 80px;
    text-decoration: none;
    color: #ffffff;
}
.header a:active, .header a:hover{
    background-color: #7d9097;
    color: #302f2f;
    transition: all .09s ease-out;
}
div.block1{     /*Первый блок, содержит надпись Welcome to your company name*/
    background-color: #b7bcbe;
    height: 695px;
    position: relative;
}
h2.block1{      /*Заголовок Welcome to*/
    color: #ffffff;
    padding-left: 65%;
    padding-top: 460px;
    font-size: 55px;
}
h3.block1{      /*Your company name*/
    color: #e3a68b;
    padding-left: 65%;
    padding-bottom: 120px;
    font-size: 35px;
}
div.block2{     /*Блок 2 содержит текст Our team leaders и три картинки*/
    background-color: #ffffff;
    height: 1780px;
}
h2.block2{      /*Текст Our team leaders*/
    color: #e3a68b;
    text-align: center;
    padding-top: 280px;
    font-size: 45px;
}
p.block2{       /*Подпись под текстом Our team leaders*/
    padding-left: 20%;
    padding-top: 130px;
    font-size: 20px;
    width: 59%;
    height: 105px;
}
figure.block2a, figure.block2b,figure.block2c{  /*Общие стили для блоков с картинками и подписями.*/
    position: absolute;                         /*Для облегчения записи дана буквенная нумерация*/
    padding-left: 9%;
    padding-top: 140px;
}
figure.block2b{
    padding-left: 38%;  /*Переназначение отступов для второй картинки*/
}
figure.block2c{
    padding-left: 67%;  /*Переназначение отступов для картинки номер 3*/
}
h3.block2{              /*Заголовок подписи под картинками*/
    font-size: 30px;
    padding-top: 60px;
}
figcaption{             /*Стили для блока с текстом подписи под картинками*/
    text-align: center;
    padding-left: 40px;
    width: 375px;
}
.block2 figcaption p{   
    padding-top: 75px;  /*Отступы для текста подписи под картинками(стили заголовка установлены отдельно)*/
}
.block3{                /*Стили блока со статистикой(2500 happy clients)*/
    background-color: #1f3138;
    height: 345px;
}
.block3 span{           /*Стили для текста блока со статистикой*/
    color: #88553b;
    font-size: 45px;
    position: absolute;
    padding-left: 18%;  /*Отступы для первого текстового блока*/
    padding-top: 120px;
}
span.block3a{
    padding-left: 39%;  /*Отступы для второго блока*/
}
span.block3b{
    padding-left: 60%;
}
span.block3c{
    padding-left: 81%;
}
.block3 span p{         /*Стили для текста в блоке статистики*/
    color: #ffffff;
    font-size: 20px;
    text-align: center;
}
.block5{                /*Блок "Contact us", содержит поля ввода*/
    background-color: #2a3e47;
    height: 1435px;
}
.block5 span h2{    /*Заголовок Contact us*/
    color: #ffffff;
    font-size: 52px;
    text-align: center;
    padding-top: 310px;
}
.block5 span{   /*Текст после заголовка Contact us*/
    color: #c0c0c0;
    padding-left: 31%;
    width: 750px;
    height: 65px;
}
input{  /*Поля ввода текста*/
    height: 50px;
    width: 26%;
    margin-bottom: 70px;
}
input[name="name"]{
    margin-left: 24%;
    margin-top: 120px;
    margin-right: 30px;
}
input[name="phone"]{
    margin-left: 24%;
    margin-right: 30px;
}
input[name="email"]{
    margin-left: 24%;
    width: 54.5%;
}
input[name="message"]{
    margin-left: 24%;
    margin-bottom: 80px;
    width: 54.5%;
    height: 185px;
    text-align: start;
}
button[name="contact"]{
    background-color: #89553b;
    color: #f8f6f5;
    border-color: #623621;
    width: 240px;
    height: 75px;
    margin-left: 65%;
}
.block6{
    height: 1270px;
    background-image: url("images/img7.png");
}
.block6 img{
    padding-left: 3%;
    padding-top: 360px;
}
.block7{                /*Блок About us*/
    background-color: #f9f9fb;
    height: 530px;
    width: 44%;
    margin-top: 390px;
    margin-left: 30px;
    border: solid;
    border-color: #d2d3d7;
    border-radius: 1px;
    position: absolute;
}
.block7 span h2{
    text-align: center;
    padding-top: 75px;
}
.block7 span{
    padding-left: 23%;
    padding-top: 40px;
    width: 64%;
    height: 50px;
}
.block7a,.block7b,.block7c{
    margin-top: 325px;
}
.block8{        /*Блок Our gallery*/
    height: 605px;
}
.block8 span h2{    /*Заголовок блока Our gallery*/
    padding-top: 190px;
    color: #e3a68b;
    text-align: center;
    font-size: 50px;
}
.block8 p{          /*Текст блока Our gallery*/
    padding-top: 100px;
    text-align: center;
    width: 79%;
    margin-left: 12%;
    font-size: 35px;
}
.block10{        /*Блок с кнопками прокрутки для изображений блока номер 9*/
    height: 80px;
    background-color: #d6d6d6;
}
.block10 p{      /*Стили для рамки вокруг стрелок прокрутки*/
    position: absolute;
    border: solid;
    border-radius: 100%;
    border-color: #88543a;
}
.block10 i{      /*Стрелка прокрутки блока 9*/
    border: solid #88543a;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.right{     /*Стили для правой стрелки*/
    margin-left: 94%;
    margin-top: 10px;
    padding: 20px;
}
.left{      /*Стили для левой стрелки*/
    margin-left: 60px;
    margin-top: 10px;
    padding: 20px;
}
.right:active, .left:active{    /*Стили при клике на кнопки прокрутки*/
    background-color: #88543a;
    border-color: #ffffff;
}
.right:active #right,.left:active #left{       /*Стрелки становятся белыми при клике в любом месте по площади всего блока*/
    border-color: #ffffff;
}
.right i{           /*Уникальный стиль для правой кнопки*/
    transform: rotate(-45deg);
}
.left i{            /*Уникальный стиль для левой кнопки*/
    transform: rotate(135deg);
}
.block11 {           /*Стили для блока Content, Information...*/
    background-color: #1b2c33;
    height: 300px;
    color: #ffffff;
}
.block11 span{           /*Стили для текста блока Content, Information...*/
    font-size: 20px;
    position: absolute;
    padding-left: 6%;  /*Отступы для первого текстового блока*/
    padding-top: 75px;
    text-align: left;
}
.block11 span p{         /*Стили для текста в блоке статистики*/
    width: 180px;
    padding-top: 40px;
}
span.block11b{
    padding-left: 26%;  /*Отступы для второго блока*/
}
span.block11c{
    padding-left: 47%;  /*Отступы для третьего блока*/
}
span.block11d{
    padding-left: 65%;  /*Отступы для четвертого блока*/
}
span.block11e{
    padding-left: 82%;  /*Отступы для блока с номером телефона*/
    padding-top: 80px;
    font-size: 12px;
}
span.block11e p,span.block11f p{
    width: 112px;
    padding-left: 35px;
}
span.block11f{
    padding-left: 82%;  /*Отступы для блока с номером телефона*/
    padding-top: 140px;
    font-size: 12px;
}
.phone,.map{
    position: absolute;
    padding-top: 40px;
}
.footer{
    background-color: #000000;
    color: #ffffff;
    height: 90px;
}
.footer span{
    padding-left: 170px;
    padding-top: 35px;
}
span.social{
    border-color: #ffffff;
    border-radius: 1px;
    padding-left: 20px;
    width: 40px;
    height: 40px;
}
