*{
    margin: 0;
}
div#head{
    font-size: 20px;
    margin-left: 60px;
    background-color: #ffffff;
    height: 120px;
    line-height: 120px;
    color: #e3a68b;
}
.header{
    font-size: 15pt;
    position: relative;
    padding-left: 15px;
    background-color: #898d8e;
    height: 80px;
    line-height: 80px;
    color: #ffffff;
}
.header span{
    padding-left: 45px;
}
div.block1{
    background-color: #b7bcbe;
    height: 695px;
    position: relative;
}
h2.block1{
    color: #ffffff;
    padding-left: 65%;
    padding-top: 460px;
    font-size: 55px;
}
h3.block1{
    color: #e3a68b;
    padding-left: 65%;
    padding-bottom: 120px;
    font-size: 35px;
}
div.block2{
    background-color: #ffffff;
    height: 1780px;
}
h2.block2{
    color: #e3a68b;
    padding-left: 33%;
    padding-top: 280px;
    font-size: 45px;
}
p.block2{
    padding-left: 20%;
    padding-top: 130px;
    font-size: 20px;
    width: 59%;
    height: 105px;
}
figure.block2a, figure.block2b,figure.block2c{
    position: absolute;
    padding-left: 9%;
    padding-top: 140px;
}
figure.block2b{
    padding-left: 38%;
}
figure.block2c{
    padding-left: 67%;
}
h3.block2{          
    font-size: 30px;
    padding-top: 60px;
}
figcaption{
    text-align: center;
    padding-left: 40px;
    width: 375px;
}
.block2 figcaption p{
    padding-top: 75px;
}
.block3{
    background-color: #1f3138;
    height: 345px;
}
.block3 span{
    color: #88553b;
    font-size: 45px;
    position: absolute;
    padding-left: 18%;
    padding-top: 120px;
}
span.block3a{
    padding-left: 39%;
}
span.block3b{
    padding-left: 60%;
}
span.block3c{
    padding-left: 81%;
}
.block3 span p{
    color: #ffffff;
    font-size: 20px;
    text-align: center;
}
.block5{
    background-color: #2a3e47;
    height: 1435px;
}
.block5 span h2{
    color: #ffffff;
    font-size: 52px;
    padding-left: 40%;
    padding-top: 310px;
}
.block5 span{
    color: #c0c0c0;
    padding-left: 31%;
    width: 750px;
    height: 65px;
}
